@page "/"
@namespace VirtualWelshWalk.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VirtualWelshWalk</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    <script>
        function initialize() {
            mapboxgl.accessToken = 'pk.eyJ1IjoiemFpYjk3IiwiYSI6ImNrajAzODdncTJuMWIycXNjOG1qZ2lnenkifQ.pyZXLfrmzU-f-FhoHMBd5Q';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [-122.486052, 37.830348],
                zoom: 15
            });

            map.on('load', function () {
                map.addSource('route', {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                            'type': 'LineString',
                            'coordinates': [
                                [-122.48369693756104, 37.83381888486939],
                                [-122.48348236083984, 37.83317489144141],
                                [-122.48339653015138, 37.83270036637107],
                                [-122.48356819152832, 37.832056363179625],
                                [-122.48404026031496, 37.83114119107971],
                                [-122.48404026031496, 37.83049717427869],
                                [-122.48348236083984, 37.829920943955045],
                                [-122.48356819152832, 37.82954808664175],
                                [-122.48507022857666, 37.82944639795659],
                                [-122.48610019683838, 37.82880236636284],
                                [-122.48695850372314, 37.82931081282506],
                                [-122.48700141906738, 37.83080223556934],
                                [-122.48751640319824, 37.83168351665737],
                                [-122.48803138732912, 37.832158048267786],
                                [-122.48888969421387, 37.83297152392784],
                                [-122.48987674713133, 37.83263257682617],
                                [-122.49043464660643, 37.832937629287755],
                                [-122.49125003814696, 37.832429207817725],
                                [-122.49163627624512, 37.832564787218985],
                                [-122.49223709106445, 37.83337825839438],
                                [-122.49378204345702, 37.83368330777276]
                            ]
                        }
                    }
                });
                map.addLayer({
                    'id': 'route',
                    'type': 'line',
                    'source': 'route',
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#888',
                        'line-width': 8
                    }
                });
            });

        }
    </script>
</body>
</html>
