@page "/InputDailySteps"

@using DataAccess.Data
@using VirtualWelshWalk.DataAccess.Services;
@using VirtualWelshWalk.DataAccess.Models;

@inject IVirtualWalkService WalkService

<h1>Welcome! Input your steps for today. How far did you work? @WalkName, @people.UserName</h1>



<h3>DailySteps</h3>

@if (virtualSteps == null)
{
    <p><em>Loading...</em></p>
}
else
{

}

@code
{
    VirtualTotalSteps virtualSteps = new VirtualTotalSteps();

    public People people { get; set; } = new People();
    public VirtualWalk virtualWalk { get; set; } = new VirtualWalk();

    string WalkName = "Welsh Coastal Walk";

    protected override async Task OnInitializedAsync()
    {
        people = await WalkService.GetPerson();
        virtualWalk = await WalkService.GetPersonVirtualWalk(WalkName, people);
    }
}
