@page "/"
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localizer

<h1>@Localizer[test]!</h1>

Welcome to your new app.

@code {

    private string test = "Hello World";
}
