@page "/"
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localizer

<style>
    .hero {
        margin-bottom: 0;
        background-image: url('/Assets/WebPage/picture_bg.jpg'); /*url('/Assets/WebPage/blue_bg_watermark.jpg');*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 25em;
    }

    .imgs {
        width: 50%;
        height: 100%;
        object-fit: fill;
    }

    .imgHeading {
        margin-top: .5rem;
    }

    .borderWidth {
        border-width: 5px !important;
    }

    .imageHero {
        position: relative;
        width: 100%;
    }

    .heroText {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
    }
</style>

<AuthorizeView>

    <Authorized>

        <VirtualMap />

    </Authorized>

    <NotAuthorized>

        @*Do HERO IMAGE LATER*@
        <div class="container-fluid text-white hero">
            <div class="row align-items-center h-100">
                <div class="col-7 pl-5 pt-sm-5">
                    <h1 class="h1" style="font-weight:900">@Localizer["Take part in Educ8's interactive learning experience"]</h1>
                </div>

                <div class="col-7 pt-2 pl-5 pb-2">
                    <button class="btn rounded-pill text-white" style="background-color:#af3182;">JOIN NOW</button>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center p-5" style="background-color:#303b3d; color:#dbdc52;">

            <div class="container" style="height:20em;">
                <div class="row align-items-center h-100">
                    <div class="col">
                        <h1 class="h1">
                            Discover places of history
                            along the way from
                            Chepstow to Chester
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center text-white p-5" style="background-color:#474e58;">
                <h1 class="h1 pb-5">
                    Visit exciting places in and around Wales
                </h1>

            <div class="row">
                <div class="col-sm">
                    <img src="/Assets/WebPage/CardiffCastleRound.png" class="img-fluid" />
                    <h5 class="h5 p-3">Cardif Castle</h5>
                </div>

                <div class="col-sm">
                    <img src="/Assets/WebPage/StDavidsCathedralRound.png" class="img-fluid" />
                    <h5 class="h5 p-3">St. Davids Cathedral</h5>
                </div>

                <div class="col-sm">
                    <img src="/Assets/WebPage/BeddGelertRound.png" class="img-fluid" /><h5 class="h5 p-3">Bedd Gelert</h5>
                </div>
            </div>
        </div>

    </NotAuthorized>

</AuthorizeView>

@code {

    //private string Welcome = "Welcome to Educ8’s Welsh Cultural Coastal Walk";
}
