@page "/"
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localizer

<h1>@Localizer[Welcome]!</h1>

Welcome to your new app.

@code {

    private string Welcome = "Welcome to Educ8’s Welsh Cultural Coastal Walk";
}