@page "/Virtual Coastal Map"

@using DataAccess.Data
@using VirtualWelshWalk.DataAccess.Services;
@using VirtualWelshWalk.DataAccess.Models;

@inject IVirtualWalkService WalkService
@inject IPeopleService PeopleService
@inject IVirtualMilestonesService VirtualMilestoneService
@inject IJSRuntime jsRunTime
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

@implements IAsyncDisposable

<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

<style>
    .marker {
        background-size: cover;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        top: -30px;
    }

    #map {
        height: 500px;
        width: 100%;
    }
</style>

@if (virtualWalk.Equals(null))
{
    <p>Loading...</p>
}
else
{
    <div>
        <div class="container text-center">

            <h1 class="heading1">Next Milestone:</h1>
            <h2 class="heading2" id="@landID">Loading...</h2>
            <hr />
            <h5 class="text-center">
                Miles remaining to your next milestone: @stepToNextMilestone mi
            </h5>
        </div>
    </div>

    <div class="container-fluid" style="padding-left: 5%; padding-right:5%;">
        <div id="map" @ref="mapElement"></div>

        <br />
        <h4 class="text-center">
            Step Counter: @virtualWalk.TotalSteps
        </h4>
    </div>

    <div class="container-fluid">
        hdahdsa
    </div>

    @if (showEnterStepsModal)
    {
        // Show modal/popup of user confirming
        <div class="modal-backdrop fade show"></div>

        <div class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center">

                    <div class="modal-header">
                        <h2 class="modal-title text-left">Do You Wish to Add Steps?</h2>
                        <button type="button" @onclick="() => { showEnterStepsModal = false; }" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <InputStepsForm dbPeople="people" dbVirtualWalk="virtualWalk" dbMilestone="milestone" OnVirtualMapSubmit="Update" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" @onclick="() => { showEnterStepsModal = false; }" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code
{
    public People people { get; set; } = new People();
    public VirtualWalk virtualWalk { get; set; } = new VirtualWalk();
    public VirtualMilestone milestone { get; set; } = new VirtualMilestone();

    CalculatePersonsPosition calculatePerson = new CalculatePersonsPosition();

    ElementReference mapElement;
    IJSObjectReference mapModule, mapInstance;

    #region elementIds
    string landID = "landID";
    #endregion

    string WalkName = "Welsh Coastal Walk";

    double stepToNextMilestone = 0;

    bool showEnterStepsModal = false;

    protected override async Task OnInitializedAsync()
    {
        people = await PeopleService.GetPeople();
        virtualWalk = await WalkService.GetVirtualWalk(WalkName, people.PeopleId);

        milestone = await VirtualMilestoneService.GetVirtualMilestones(WalkName, people.PeopleId);
    }

    async Task GetSession()
    {
        var count = await sessionStorage.GetItemAsync<int>("firstVisit");

        if (count == 0)
        {
            showEnterStepsModal = true;
            await sessionStorage.SetItemAsync("firstVisit", 1);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetSession();

            mapModule = await jsRunTime.InvokeAsync<IJSObjectReference>(
       "import", "./scripts/MapBox.js").AsTask();
            mapInstance = await mapModule.InvokeAsync<IJSObjectReference>(
                "initialize", mapElement).AsTask();

            if (virtualWalk != null && mapModule != null)
            {
                await UpdatePersonLocation();
            }

            StateHasChanged();
        }
    }

    async Task UpdatePersonLocation()
    {
        if (virtualWalk.TotalSteps >= 0)
        {
            await mapModule.InvokeVoidAsync("updatePersonIcon", calculatePerson.NewPosition(virtualWalk.TotalSteps)).AsTask();
            await mapModule.InvokeVoidAsync("LandMarksPassed", landID);
            stepToNextMilestone = Math.Round(await mapModule.InvokeAsync<double>("ApproximateStepsToNextMilestone"), 2);
        }
    }

    async Task Update()
    {
        showEnterStepsModal = false;
        await UpdatePersonLocation();
        await mapModule.InvokeVoidAsync("UpdateColourPath");
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (mapInstance != null)
        {
            await mapInstance.DisposeAsync();
        }

        if (mapModule != null)
        {
            await mapModule.DisposeAsync();
        }
    }
}
