@page "/Virtual Coastal Map"

@using DataAccess.Data
@using VirtualWelshWalk.DataAccess.Services;
@using VirtualWelshWalk.DataAccess.Models;

@inject IVirtualWalkService WalkService
@inject IPeopleService PeopleService
@inject IJSRuntime jsRunTime

@implements IAsyncDisposable

<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

<style>
    .marker {
        background-size: cover;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        top: -30px;
    }
    #map {
        height: 500px;
        width: 100%;
    }

</style>

@if (virtualWalk.Equals(null))
{
    <p>Loading...</p>
}
else
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">

            <h1 id="@landID">Loading...</h1>
            <hr />
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <h2 class="text-center">
                You have walked @virtualWalk.TotalSteps. You have 99 steps to go until your next milestone
            </h2>

            <div class="row">
                <div class="col">
                    <div id="map" @ref="mapElement"></div>
                </div>
            </div>
        </div>
    </div>

    if (showInfo)
    {
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Test</h1>
            </div>
        </div>
    }
}

@code
{
    public People people { get; set; } = new People();
    public VirtualWalk virtualWalk { get; set; } = new VirtualWalk();
    CalculatePersonsPosition calculatePerson = new CalculatePersonsPosition();

    ElementReference mapElement;
    IJSObjectReference mapModule, mapInstance;

    #region elementIds
    string landID = "landID";
    #endregion

    string WalkName = "Welsh Coastal Walk";

    bool showInfo = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            mapModule = await jsRunTime.InvokeAsync<IJSObjectReference>(
               "import", "./scripts/MapBox.js").AsTask();
            mapInstance = await mapModule.InvokeAsync<IJSObjectReference>(
                "initialize", mapElement).AsTask();

            StateHasChanged();
        }

        if (virtualWalk != null && mapModule != null)
        {
            await UpdatePersonLocation();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        people = await PeopleService.GetPeople();
        virtualWalk = await WalkService.GetVirtualWalk(WalkName, people.PeopleId);
    }

    async Task UpdatePersonLocation()
    {
        if (virtualWalk.TotalSteps >= 0)
        {
            await mapModule.InvokeVoidAsync("updatePersonIcon", calculatePerson.NewPosition(virtualWalk.TotalSteps)).AsTask();
            await mapModule.InvokeVoidAsync("LandMarksPassed", landID);
        }
    }


    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (mapInstance != null)
        {
            await mapInstance.DisposeAsync();
        }

        if (mapModule != null)
        {
            await mapModule.DisposeAsync();
        }
    }
}
