@page "/Virtual Welsh Map"
@inject IJSRuntime jsRunTime


<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

<h3>VirtualMap</h3>

<div @ref="mapElement" id="map" style="width: 100%; position:absolute; top: 0; bottom: 0;"></div>

@code
{
    ElementReference mapElement;
    IJSObjectReference mapModule;
    IJSObjectReference mapInstance;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            mapModule = await jsRunTime.InvokeAsync<IJSObjectReference>(
                "import", "./scripts/MapBox.js");
            mapInstance = await mapModule.InvokeAsync<IJSObjectReference>(
                "initialize", mapElement);

            StateHasChanged();
        }
    }
}
