/* xs < 768 */
@media screen and (max-width: 360px) {
    .navLogo {
        max-height: 2.7em;
    }

    .hero-text {
        font-size: 1.3em;
    }

    .hero {
        background-position-x: center;
        background-position-y: 75%;
    }
}

/* xs < 768 */
@media screen and (min-width: 361px) 
{
    .navLogo{
        max-height: 2.7em;
    }

    .hero-text
    {
        font-size:2em;
    }

    .hero {
        background-position-x: center;
        background-position-y: 75%;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    .navLogo {
        max-height: 4em;
    }

    .hero-text {
        font-size: 2.5em;
    }

    .hero {
        background-position-x: center;
        background-position-y: 75%;
    }
}

/* md */
@media screen and (min-width: 992px) {
    .navLogo {
        max-height: 5em;
    }

    .hero-text {
        font-size: 3em;
    }

    .hero {
        background-position-x: center;
        background-position-y: 72%;
    }
}

/* lg */
@media screen and (min-width: 1920px /*1200*//*px*/) {
    
    .navLogo {
        max-height: 5em;
    }

    .hero-text {
        font-size: 3.5em;
    }

    .hero
    {
        background-position-x: center;
        background-position-y: 75%;
    }
}

/* xl - lg */
@media screen and (min-width: 1921px) {

    .navLogo {
        max-height: 5em;
    }

    .hero-text {
        font-size: 3.5em;
    }

    .hero {
        background-position-x: center;
        background-position-y: 68%;
    }
}

.hero {
    margin-bottom: 0;
    background-image: url('/Assets/WebPage/tim-mossholder-MNuPX3WXLEk-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.heroOverlay {
    background-color: rgba(128 128 128 / 35%);
}

.navButtons {
    max-height: 2em;
}

.navText{
    vertical-align: bottom;
}

.navTextWIcon {
    vertical-align: text-top;
}

.navText, .navTextWIcon {
    font-weight: 900;
    font-size: x-large;
    color: white;
}

.iconSize {
    color: white;
    font-family: 'Century Gothic';
    font-size: 25px;
    font-weight: normal;
}

.iconText
{
    font-family:'Century Gothic';
    font-size: 25px;
    font-weight:normal;
}

.navBG {
    background-image: url('/Assets/WebPage/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Log, .Reg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.Log {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/Assets/Culture/Strumble Head Lighthouse.jpg');
}

.Reg {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/Assets/Culture/Tintern Abbey.jpg');
}

.iconColor {
    color: #af3182;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}

.frmIconWidth
{
    width:3em;
}