/* xs < 768 */
@media screen and (max-width: 767px) 
{
    .navLogo{
        max-height: 3em;
    }

    .heading1 
    {
        font-size: 2.3em;
    }

    .heading2{
        font-size: 1.8em;
    }

    .lead
    {
        font-size: 1.25em
    }
}

/* sm */
@media screen and (min-width: 768px) {
    .navLogo {
        max-height: 4em;
    }

    .heading1 
    {
        font-size: 3em;
    }

    .heading2 {
        font-size: 2.5em;
    }

    .lead 
    {
        font-size: 1.5em
    }
}

/* md */
@media screen and (min-width: 992px) {
    .navLogo {
        max-height: 5em;
    }

    .heading1 
    {
        font-size: 4.2em;
    }

    .heading2 {
        font-size: 3.7em;
    }

    .lead 
    {
        font-size: 2em
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    
    .navLogo {
        max-height: 7em;
    }

    .heading1 {
        font-size: 4.3em;
    }

    .heading2 {
        font-size: 3.8em;
    }

    .lead {
        font-size: 1.5em
    }
}

.navButtons {
    max-height: 2em;
}

.navBG {
    background-image: url('/Assets/WebPage/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Log, .Reg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.Log {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/Assets/Culture/Strumble Head Lighthouse.jpg');
}

.Reg {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/Assets/Culture/Tintern Abbey.jpg');
}

.iconColor {
    color: #af3182;
}