@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{

    // Show modal/popup of user confirming
    <div class="modal-backdrop fade show" id="cookieModalBackdrop"></div>

    <div class="modal fade show" id="cookieModal" tabindex="-1" role="dialog" style="display: block;">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">

                    <div id="cookieConsent">
                        <p style="padding-right:3em;">@Localizer["This website uses cookies and requires your consent"] <a href="privacy-policy">@Localizer["Learn More"]</a>.</p>
                        <button type="button" id="btnHideModal" class="btn btn-primary" style="width:100%; background-color:#af3182; border-color:#af3182;" aria-label="Close" data-cookie-string="@cookieString">
                            <span aria-hidden="true">@Localizer["Accept"]</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script>
        (function () {

            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);

            // Get the cookieModal
            var modal = document.getElementById('cookieModal');

            // Get the cookieModal for backdrop
            var modalBackdrop = document.getElementById('cookieModalBackdrop');

            // get the button
            var modalButton = document.getElementById("btnHideModal");

            // add the event to the button
            modalButton.addEventListener("click", function (event) {

                modal.style.display = "none";
                modalBackdrop.style.display = "none";

            }, false);
        }
        )();
    </script>
}