@using EmailTemplate.Views.Emails.ConfirmAccount
@using EmailTemplate.Views.Shared
@model ConfirmAccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
}

<p>
    We're excited to have you get started. First, you need to confirm your account. Just press the button below.
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm Account", Model.ConfirmEmailUrl))

@*<p>
    Or paste this link into your browser:
</p>
<p>
    <a href="@Model.ConfirmEmailUrl">
        @Model.ConfirmEmailUrl
    </a>
</p>*@

<br />

<br />