<footer style="background-color: darkgray; z-index:100;">
    <div class="container">
        <div class="content">
            
            <ChooseLanguage />

            <div class="text-center p-3">
                © 2021 Copyright:
                <a class="text-dark" href="https://www.arecadesign.co.uk/">Areca Design</a>
            </div>
        </div>
    </div>
</footer>

@code {

}
