@using DataAccess.Data;
@using VirtualWelshWalk.DataAccess.Services;
@using VirtualWelshWalk.DataAccess.Models;
@using Microsoft.AspNetCore.Identity;
@using VirtualWelshWalk.Controllers;
@using System.Security.Claims;

@inject IVirtualWalkService WalkService
@inject IPeopleService PeopleService
@inject IVirtualMilestonesService MilestoneService
@inject EmailService.IEmailSender emailSender
@*@inject UserManager<User> UserManager*@
@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContent*@
@inject AuthenticationStateProvider AuthenticationStateProvider

@implements IDisposable
@* edit form on valid submit change bool ShowConfirmationModal to true Which then will display a modal asking to confirm changes *@
<EditForm class="form-group" OnValidSubmit="() => ShowConfirmationModal = true" Model="@virtualSteps" method="post">
    <DataAnnotationsValidator />

    <h3>Enter Steps</h3>
    <div class="col">
        <InputNumber class="form-control" @bind-Value="virtualSteps.NewSteps" id="steps" />
    </div>
    <div class="col text-center">
        <ValidationMessage For="@(() => virtualSteps.NewSteps)" />
    </div>

    <div class="col content text-center">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>

</EditForm>

@if (ShowConfirmationModal)
{
    // Show modal/popup of user confirming
    <div class="modal-backdrop fade show"></div>

    <div class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">

                    <h1 class="modal-title text-center">Add @virtualSteps.NewSteps Steps</h1>

                    <button type="button" @onclick="() => { ShowConfirmationModal = false; }" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    <p>Are you sure you want to add @virtualSteps.NewSteps towards your virtual walk?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" @onclick="() => { ShowConfirmationModal = false; }" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" @onclick="HandleValidSubmit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}

@if (ShowNewMilestoneUnlocked)
{
    // Show modal/popup of user reaching a new milestone
    <div class="modal-backdrop fade show"></div>

    <div class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Area of Interest Unlocked</h5>
                    <button type="button" @onclick="HandleValidSubmitPart2" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You reached a new milestone and a significant place of interest. Check your emails and the <a href="/Virtual Coastal Map">map</a> to see more.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" @onclick="HandleValidSubmitPart2" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    [Parameter]
    public VirtualTotalSteps virtualSteps { get; set; }

    [Parameter]
    public People dbPeople { get; set; }

    [Parameter]
    public VirtualWalk dbVirtualWalk { get; set; }

    [Parameter]
    public VirtualMilestone dbMilestone { get; set; }

    [Parameter]
    public EventCallback<int> OnTotalStepsChanged { get; set; }

    [Parameter]
    public EventCallback OnVirtualMapSubmit { get; set; }

    [Parameter]
    public EventCallback<int> OnVirtualMapGetInfo { get; set; }

    [Parameter]
    public int MilestoneCounter { get; set; }

    CheckMilestone checkMilestone;

    bool ShowConfirmationModal = false;
    bool ShowNewMilestoneUnlocked = false;

    double virtualStepsInMiles = 0;

    string UserName;
    string EmailAddress;

    #region When first loading

    protected override void OnInitialized()
    {
        if (virtualSteps == null)
        {
            virtualSteps = new VirtualTotalSteps();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        checkMilestone = new CheckMilestone(dbMilestone, emailSender/*, UserManager, httpContent*/);

        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            UserName = authState.User.Identity.Name;


            IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

            _claims = user.Claims;

            EmailAddress = user.FindFirst(c => c.Type == ClaimTypes.Email)?.Value;

            //var user = await UserManager.GetUserAsync(httpContent.HttpContext.User);

            //checkMilestone.SetData(user.Email, user.UserName);

            checkMilestone.SetData(EmailAddress, UserName);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    #endregion

    #region Submitting data/checking and calling parent methods

    async Task HandleValidSubmit()
    {
        ShowConfirmationModal = false;

        dbVirtualWalk.TotalSteps += virtualSteps.NewSteps;

        await WalkService.UpdateVirtualWalk(dbVirtualWalk);

        virtualSteps.NewSteps = 0;

        virtualSteps.TotalSteps = dbVirtualWalk.TotalSteps;

        ShowNewMilestoneUnlocked = checkMilestone.MilestoneCheckWithEmail(StepsInKM());
        //ShowNewMilestoneUnlocked = true;

        if (ShowNewMilestoneUnlocked)
        {
            await MilestoneService.UpdateVirtualMilestones(checkMilestone.dbMilestone);
        }
    }

    async Task HandleValidSubmitPart2()
    {
        if (OnTotalStepsChanged.HasDelegate)
        {
            await UpdateTotalStepsChanged();
        }

        if (OnVirtualMapSubmit.HasDelegate)
        {
            await VirtualMapModalSubmitChanged();
        }

        if (OnVirtualMapGetInfo.HasDelegate)
        {
            await VirtualMapGetInfoChanged();
        }

        ShowNewMilestoneUnlocked = false;
    }

    async Task UpdateMilestoneInformation()
    {
        await OnVirtualMapGetInfo.InvokeAsync(checkMilestone.CheckMilestoneCounter(StepsInKM()));
    }

    async Task UpdateTotalStepsChanged()
    {
        await OnTotalStepsChanged.InvokeAsync(virtualSteps.TotalSteps);
    }

    async Task VirtualMapModalSubmitChanged()
    {
        await OnVirtualMapSubmit.InvokeAsync();
    }

    async Task VirtualMapGetInfoChanged()
    {
        if (checkMilestone.Counter == 0)
        {
            virtualSteps.TotalSteps = dbVirtualWalk.TotalSteps;
            await OnVirtualMapGetInfo.InvokeAsync(checkMilestone.CheckMilestoneCounter(StepsInKM()));
        }
        else
        {
            await OnVirtualMapGetInfo.InvokeAsync(checkMilestone.Counter);
        }

    }

    public async Task<int> CallVirtualMapGetInfoChanged(int pSteps)
    {
        if (virtualSteps == null)
        {
            virtualSteps = new VirtualTotalSteps();
        }

        virtualSteps.TotalSteps = pSteps;

        if (checkMilestone == null)
        {
            checkMilestone = new CheckMilestone();
        }

        var milestoneNum = checkMilestone.CheckMilestoneCounter(StepsInKM());

        if (virtualSteps.TotalSteps == 0)
        {
            if (checkMilestone.SendEmailCheck(milestoneNum))
            {
                await MilestoneService.UpdateVirtualMilestones(dbMilestone);
            }
        }

        return milestoneNum;
    }

    #endregion

    #region Misc

    double StepsInKM()
    {
        // Convert to kilometers
        double km = Math.Round(virtualSteps.TotalSteps / 1312.33595801, 2);


        // Convert to miles
        return virtualStepsInMiles = Math.Round(km * 0.62137, 1);
    }

    public void Dispose()
    {
        //UserManager.Dispose();
    }

    #endregion

    public void SetUpFromVirtualMap(IVirtualMilestonesService milestonesService,
        VirtualMilestone pDbMilestone, EmailService.IEmailSender pEmailSender,
        string pEmailAddress, string pUserName)
    {
        checkMilestone = new CheckMilestone(pDbMilestone, pEmailSender);
        checkMilestone.SetData(pEmailAddress, pUserName);

        dbMilestone = pDbMilestone;
        MilestoneService = milestonesService;
    }
}
