@inherits LayoutComponentBase

<div class="main d-flex flex-column min-vh-100" style="height:100%;">

    <div class="auth" style="top:0; position:sticky; z-index:100;">
        <NavMenu />
        <div style="height: 5px; background-color: #af3182"></div>
    </div>

    <div class="content p-0" style="height:100%;">
        <_CookieConsentPartial />
        @Body
    </div>

    
    <Footer />
</div>