<div class="navbar navbar-expand-sm navbar-dark bg-dark navBG">

    <a href="#" class="navbar-brand">
        <img src="/Assets/WebPage/logo.jpg" class="navLogo" />
    </a>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <AuthorizeView>
        <Authorized>
            <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="Virtual Coastal Steps">
                            <span class="oi oi-plus" aria-hidden="true"></span> Input Steps
                        </NavLink>
                    </li>
                </ul>

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <NavLink class="nav-link" href="Identity/Account/Manage">
                            <span class="oi oi-person"></span>Hello, @context.User.Identity.Name!
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <form method="post" action="Identity/Account/LogOut">
                            <NavLink class="nav-link" id="logout" onclick="document.forms[0].submit();" style="cursor: pointer">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                            </NavLink>
                        </form>
                    </li>
                </ul>

            </div>
        </Authorized>

        <NotAuthorized>
            <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <NavLink class="nav-link" href="Identity/Account/Login">
                            @*<span class="oi oi-account-login" aria-hidden="true"></span>Log in*@
                            <img src="/Assets/WebPage/log_in.png" aria-hidden="true" class="navButtons" />
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="Identity/Account/Register">
                            @*<span class="oi oi-person" src="/Assets/WebPage/log_in.png" aria-hidden="true"></span>Register*@
                            <img src="/Assets/WebPage/Register.png" aria-hidden="true" class="navButtons" />
                        </NavLink>
                    </li>

                </ul>

            </div>
        </NotAuthorized>
    </AuthorizeView>

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
