@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Emailed Confirmed";
}

<div class="container-fluid p-5">
    <h1>@ViewData["Title"]</h1>

    <p>Thank you for confirming your email.</p>

    <p>You will soon be redirected...</p>

    <a href="/Identity/Account/Login"/>
        Click here to login
    </a>

</div>