@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container-fluid">
    <h1>@Localizer[@ViewData["Title"].ToString()]</h1>
    <p>
       @Localizer["Please check your email to reset your password."]
    </p>
</div>