@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password reset";
}

<div class="container-fluid Log">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="card shadow text-center" style="background-color:#eaeaea;">
                    <div class="card-header">
                        <h2>@Localizer[@ViewData["Title"].ToString()]</h2>
                    </div>
                    <div class="card-body">
                        <p>
                           @Localizer["Your password has been reset. Please"] <a asp-page="./Login">@Localizer["click here to log in"]</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
